body
{
    background-color: #FDFDFF;

    color: #163152;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */

    margin:0 auto;
    padding:0;

}
li
{
    list-style-type: none;
}
.nav-list a{

    color: #163152;
    font-size: 14px;
    font-style: normal;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    text-decoration: none;

}
.block-hero h1
{
    font-size: 44px;
    font-style: italic;
    font-weight: 400;
    line-height: 60px; /* 136.364% */
    text-transform: uppercase;
}
.dates{
    font-size: 14px;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}

.under_line_color{
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}
.under_line_color_left{ 
    border-left: 2px solid #00C6BD; /* Параметры линии */ 
    padding-left: 20px; /* Расстояние от линии до текста */ 
}
    


.block-article h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
}
.contacts h2{
    
    font-size: 24px;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
}
.contact-list h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
}
.phone, .E-mail{
    color: #163152;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    text-decoration: none;
}

.main-footer h2{
    color: #163152;
    font-size: 14px;
    font-style: normal;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}

.main-footer a.footer-logo,.main-footer p{
    color: #163152;
    text-decoration: none;
    font-size: 10px;
    line-height: 12px; /* 120% */
}
.main-footer a{
    color: #163152;
    font-size: 14px;
    line-height: 16px; /* 114.286% */
    text-decoration: none;
}

.news h2{
    
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    line-height: 34px; /* 141.667% */
}
.post h3{
    font-size: 22px;
    line-height: 26px; /* 118.182% */
}

.winner_caption{
    color: #8693A4;
    font-size: 16px;
    line-height: 19px; /* 118.75% */
    
}

.news p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}
.strikethrough
{    
    text-decoration:line-through;
}

.news h4{
    font-size: 20px;
    line-height: 26px; /* 130% */
}
.commands-item{
    font-size: 18px;
    line-height: 26px; /* 144.444% */
    list-style-type:disc;

}
.news strong{
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
    text-align: center;
}
.author a
{
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #163152;
    text-decoration: none;
}

.author time
{
    font-size: 16px;
  line-height: 19px;
  color: #8693a4;
    
}
/*Header*/
.main-header{
    width:1280px;
    margin:0 auto 40px auto;
    padding-top: 20px;
    padding-bottom: 20px;

}

.main-nav{
    width: 1170px;
    padding:0;
    margin:0px auto;
    display:flex;
    align-self: center;
    justify-content: space-between;
}
.logo{
    margin-left: 0;
    margin-right: 471px;
}

.nav-list{
    width: 559px;
    margin:0;
    padding:0;
    margin-right:40px;
}

main{
    width:1280px;
    margin:0 auto;
    padding:0;

}
/*Main - Block Hero*/
.block-hero{
    width: 1170px;
    margin:0 auto 120px auto;
}
.block-hero h1{
    margin:0 auto 40px 0;
    ;
}
/*Main - Block article*/
.block-article{
    width: 1030px;
    margin:0 auto 100px auto;
    display: flex;
    justify-content: space-between;

}

.block-article:last-of-type
{
    margin-bottom: 120px;
}

.article-1{
    width: 400px;
}
.article-2{
    width: 400px;
    order:1;

}
/*.dates{
    margin-bottom 20px;
}*/
.under_line_color{
    margin-bottom:35px;
    margin-top:0;
}
/*section NEWS*/
.news{
    width:770px;
    margin:0 auto 120px auto;
}


.article p{
    padding:0;

}

.news h2{
    margin:0 auto 55px auto;
    padding:0;
}
figure{
    margin: 0 0 33px 0;
}
.contacts-all{
width:340px;

}
.contacts{
    width:1010px;
    margin:0 auto 180px auto;
    display: flex;
}
.contact-item{
    font-size: 16px;
  line-height: 22px;
}
.contact-item h3 {
    font-size: 16px;
    line-height: 22px;
  }

.contacts img{
    margin:0 100px 0 0;

}
.contacts-list li{
    list-style-type: disc;
}

.social-list li{
    list-style-type:circle
}


.main-footer{
    width: 1170px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
.logotype{
    width: 175px;
    margin-right: 125px;
    
}
.footer-list{
    width:870px;
    display: flex;
    
    padding:0;
    margin: 0 auto;
}
.footer-list-item{
    width: 165px;
    margin-left:0;
    margin-right: 70px;
}
.footer-list-item h2{
    padding:0
}
.footer-sublist{
    padding:0
}
.footer-list-item:last-child()
{
    margin-right: 0;
}







